body {
    font-family: Arial;
}

h1 {
    text-align: center;
}
.grid-container {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    gap: 16px;
}

.box {
    border: 5px solid black;
    /* width: 500px, height 400px */
    width: 500px;
    height: 400px;
} 

.box > img {
    width: 500px;
    height: auto;
}

.box > .graph-exp {
    width: 480px;
}

.graph-exp {
    padding: 10px;
    /* padding-right: 10px;
    padding-left: 10px; */
    font-size: 9px;
}

.shapes-row {
    justify-content: space-evenly;
    padding: 50px;
    display: flex;

}

.shapes-row > * {
    justify-content: center;
    align-items: center;
    flex-basis: 120px;
}

svg {
    width: 160;
    height: 160;
}

.rect {
    fill: rgb(36, 139, 224);
    overflow: visible;
}

.rect:hover {
    fill: rgb(35, 81, 124);
}

.circle {
    fill: rgb(145, 226, 172);
    overflow: visible;
}

.circle:hover {
    fill: rgb(27, 114, 53);
}

.aknowledge-sect {
    padding: 50px;
}

h2 {
    text-align: center;
}

ul {
    display: table;
    margin: 0 auto;
    padding-left: 150px;
  }

li {
    list-style-type: disc;
 }